@model StoreFront.DATA.EF.Models.Manufacturer

@{
    ViewData["Title"] = "Create";
}

        <div class="row">
            <div class="col-8 offset-2">
                <h1>Add Manufacturer</h1>

                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="ManufacturerName" class="control-label"></label>
                                <input asp-for="ManufacturerName" class="form-control" />
                                <span asp-validation-for="ManufacturerName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-warning" />
                                <a asp-action="Index" class="btn btn-info ml-3">Back to List</a>
                            </div>
                        </form>
                    </div>
                </div>

                <div>
                </div>
            </div>
        </div>

    @section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
