@model StoreFront.DATA.EF.Models.Product

@{
    ViewData["Title"] = "Create";
    ViewData["Title2"] = "";
}
@section NavBarClass {
    <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0 bg-light" id="navbar-vertical" style="width: calc(100% - 30px); z-index: 1;">
    }



        <div class="row mb-3">
            <div class="col-md-8 offset-4">
                <h1>Add New Product</h1>
                <br />              
                <div class="row">
                    <div class="col-6">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="CategoryId" class="control-label"></label>
                                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="ManufacturerId" class="control-label"></label>
                                <select asp-for="ManufacturerId" class="form-control" asp-items="ViewBag.ManufacturerId"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="ProductName" class="control-label"></label>
                                <input asp-for="ProductName" class="form-control" />
                                <span asp-validation-for="ProductName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ProductDescription" class="control-label"></label>
                                <input asp-for="ProductDescription" class="form-control" />
                                <span asp-validation-for="ProductDescription" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ProductPrice" class="control-label"></label>
                                <input asp-for="ProductPrice" class="form-control" />
                                <span asp-validation-for="ProductPrice" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="UnitsInStock" class="control-label"></label>
                                <input asp-for="UnitsInStock" class="form-control" />
                                <span asp-validation-for="UnitsInStock" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="UnitsOnOrder" class="control-label"></label>
                                <input asp-for="UnitsOnOrder" class="form-control" />
                                <span asp-validation-for="UnitsOnOrder" class="text-danger"></span>
                            </div>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="Discontinued" /> @Html.DisplayNameFor(model => model.Discontinued)
                                </label>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>

                <div>
                    <a asp-action="Index">Back to Product List</a>
                </div>
            </div>
        </div>
    @section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
